TCESS.SMSGateway/App_WebReferences/SMSServiceReference/SMSService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SMSService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/SMSService/Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/SMSService/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/SMSService/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TCESS.ESales.DataTransferObjects" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISMSService_RespondSms_InputMessage">
    <wsdl:part name="parameters" element="tns:RespondSms" />
  </wsdl:message>
  <wsdl:message name="ISMSService_RespondSms_OutputMessage">
    <wsdl:part name="parameters" element="tns:RespondSmsResponse" />
  </wsdl:message>
  <wsdl:message name="ISMSService_UpdateDCAPercentage_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateDCAPercentage" />
  </wsdl:message>
  <wsdl:message name="ISMSService_UpdateDCAPercentage_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateDCAPercentageResponse" />
  </wsdl:message>
  <wsdl:message name="ISMSService_UpdateGateInformation_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateGateInformation" />
  </wsdl:message>
  <wsdl:message name="ISMSService_UpdateGateInformation_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateGateInformationResponse" />
  </wsdl:message>
  <wsdl:message name="ISMSService_GetTruckCountForDateBarcode_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTruckCountForDateBarcode" />
  </wsdl:message>
  <wsdl:message name="ISMSService_GetTruckCountForDateBarcode_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTruckCountForDateBarcodeResponse" />
  </wsdl:message>
  <wsdl:message name="ISMSService_RespondPaymentSms_InputMessage">
    <wsdl:part name="parameters" element="tns:RespondPaymentSms" />
  </wsdl:message>
  <wsdl:message name="ISMSService_RespondPaymentSms_OutputMessage">
    <wsdl:part name="parameters" element="tns:RespondPaymentSmsResponse" />
  </wsdl:message>
  <wsdl:portType name="ISMSService">
    <wsdl:operation name="RespondSms">
      <wsdl:input wsaw:Action="http://tempuri.org/ISMSService/RespondSms" message="tns:ISMSService_RespondSms_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISMSService/RespondSmsResponse" message="tns:ISMSService_RespondSms_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateDCAPercentage">
      <wsdl:input wsaw:Action="http://tempuri.org/ISMSService/UpdateDCAPercentage" message="tns:ISMSService_UpdateDCAPercentage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISMSService/UpdateDCAPercentageResponse" message="tns:ISMSService_UpdateDCAPercentage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateGateInformation">
      <wsdl:input wsaw:Action="http://tempuri.org/ISMSService/UpdateGateInformation" message="tns:ISMSService_UpdateGateInformation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISMSService/UpdateGateInformationResponse" message="tns:ISMSService_UpdateGateInformation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTruckCountForDateBarcode">
      <wsdl:input wsaw:Action="http://tempuri.org/ISMSService/GetTruckCountForDateBarcode" message="tns:ISMSService_GetTruckCountForDateBarcode_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISMSService/GetTruckCountForDateBarcodeResponse" message="tns:ISMSService_GetTruckCountForDateBarcode_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RespondPaymentSms">
      <wsdl:input wsaw:Action="http://tempuri.org/ISMSService/RespondPaymentSms" message="tns:ISMSService_RespondPaymentSms_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISMSService/RespondPaymentSmsResponse" message="tns:ISMSService_RespondPaymentSms_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISMSService" type="tns:ISMSService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RespondSms">
      <soap:operation soapAction="http://tempuri.org/ISMSService/RespondSms" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateDCAPercentage">
      <soap:operation soapAction="http://tempuri.org/ISMSService/UpdateDCAPercentage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateGateInformation">
      <soap:operation soapAction="http://tempuri.org/ISMSService/UpdateGateInformation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTruckCountForDateBarcode">
      <soap:operation soapAction="http://tempuri.org/ISMSService/GetTruckCountForDateBarcode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RespondPaymentSms">
      <soap:operation soapAction="http://tempuri.org/ISMSService/RespondPaymentSms" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SMSService">
    <wsdl:port name="BasicHttpBinding_ISMSService" binding="tns:BasicHttpBinding_ISMSService">
      <soap:address location="http://localhost/SMSService/Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>